<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Package</th>
    <th class="tg-031e">Regular</th>
    <th class="tg-031e">Student</th>
  </tr>
  <tr>
    <td class="tg-031e">Drop In Class</td>
    <td class="tg-031e">$10</td>
    <td class="tg-031e">$8</td>
  </tr>
  <tr>
    <td class="tg-031e">5 Class Package (valid for 30 days)</td>
    <td class="tg-031e">$39</td>
    <td class="tg-031e">$29</td>
  </tr>
  <tr>
    <td class="tg-031e">10 Class Package (valid for 60 days)</td>
    <td class="tg-031e">$79</td>
    <td class="tg-031e">$69</td>
  </tr>
  <tr>
    <td class="tg-031e">Monthly Unlimited Package</td>
    <td class="tg-031e">$89</td>
    <td class="tg-031e">$69</td>
  </tr>
  <tr>
    <td class="tg-031e">Yearly Membership Package</td>
    <td class="tg-031e">$825</td>
    <td class="tg-031e">$625</td>
  </tr>
</table>

<p>** yearly membership includes a private alignment and technique session and 20%  off jade mats , workshops,  and events.</p>

<p>New Student Package 7 days unlimited classes $25</p>

<p>** students must present valid id.</p>