<table class="table table-striped table-responsive table-hover">
  <tr>
    <th>Package</th>
    <th>Regular</th>
    <th>Student</th>
  </tr>
  <tr>
    <td>Drop In Class</td>
    <td>$10</td>
    <td>$8</td>
  </tr>
  <tr>
    <td>5 Class Package (valid for 30 days)</td>
    <td>$39</td>
    <td>$29</td>
  </tr>
  <tr>
    <td>10 Class Package (valid for 60 days)</td>
    <td>$79</td>
    <td>$69</td>
  </tr>
  <tr>
    <td>Monthly Unlimited Package</td>
    <td>$89</td>
    <td>$69</td>
  </tr>
  <tr>
    <td>Yearly Membership Package</td>
    <td>$825</td>
    <td>$625</td>
  </tr>
</table>

<p>** yearly membership includes a private alignment and technique session and 20%  off jade mats, workshops,  and events.</p>

<p>New Student Package 7 days unlimited classes $25</p>

<p>** students must present valid id.</p>