<p><br />
<strong><a title="Register" href="http://www.always-at-aum.com/registration.php">Register for the 200-hr Yoga Teacher Training</a></strong></p>

<p><strong>Deepen Your Practice</strong>: Attend the entire training for $1,250.  This option is for students who wish to deepen their yoga practice but don’t necessarily want to become a Registered Yoga Teacher (RYT) with the Yoga Alliance. At any time after the training the student will be able to complete the required non-contact assignments and pay the tuition balance so they can become a RYT with the Yoga Alliance. 1/2 discount &#8211; savings of $1,250.</p>
<p>Early Bird Special: $2,000 if registered and paid in full 30-days prior to start date of training. Savings of $500.<br />
<strong>Payment Options:</strong></p>
<ul>
<li>Option #1: Pay $1,250. <strong>Savings of $1,250.</strong></li>
<li>Option #2: Pay $2,000 in full 30-days prior to start of training. <strong>Savings of $500.</strong></li>
<li>Option #3: Pay $2,250 in full by start of training. <strong>Savings of $250.</strong></li>
<li>Option #4: Pay $500 when registering 5-payments of $400. This option totals $2,500.</li>
</ul>
<p>*If a trainee decides to drop out of the training before it is completed he/she is still responsible to pay the remaining balance.  They may keep the materials and complete the training at a later time at no additional cost for the training.  They maybe subject to additional fees for material.</p>
<p>The fees include a 400-page curriculum.</p>

<p><strong>Graduation Requirements:</strong></p>
<ul>
<li>It is heavily recommended that you maintain a daily practice throughout the duration of the training either with an instructor or a home practice.</li>
<li>You will need to complete 30 additional classes with an Always-At-Aum instructor as part of the requirements set by the Yoga Alliance.</li>
<li>Complete all written homework and reading assignments.</li>
<li>Attend all classes. If you miss a class you will simply need to make it up at any one of our 4 locations at no additional charge.  There is no time limit to do this.  If you would like to receive a signed certificate at graduation you can pay an additional fee and make the missed class(es) up in a private lesson.</li>
<li>Complete final examination.</li>
</ul>

<p><strong>What to Bring:</strong><br />
The sessions on Saturday and Sunday will begin with a vigorous yoga practice so wear comfortable clothing and perhaps bring a change of clothes.  You will be given a training curriculum, which you are to bring to each session along with other materials listed on the agenda.  You will also want to bring a pen, highlighter, and a notebook. Feel free to bring snacks.</p>

<p><strong>Dates:</strong></p>
<p>July 18,19,20<br />
August 1,2,3,15,16,17<br />
September 5,6,7,19,20,21<br />
October 10,11,12,24,25,26,31<br />
November 1,2,14,15,16</p>
<p>OR</p>
<p>Summer Intensive</p>
<p>Monday &#8211; Friday 8am-4pm<br />
July 7 through August 1</p>

<strong>Location of Training:</strong></p>
<p><strong><a title="Symmetry Studio Website" href="http://www.symmetrystudionepa.com/contact/">SYMMETRY STUDIO</a></strong><br />
206 North Main Avenue<br />
Scranton, PA 18504<br />
(570)780-7830</p>
<br />
<br />
<strong><a title="Prana Yoga Website" href="http://www.pranaone.com/">PRANA YOGA</a></strong><br />
960 Prescott Avenue<br />
Scranton, PA 18510<br />
(570)436-2793</p>
<br />
<strong><a title="Register" href="http://www.always-at-aum.com/registration.php">Register for the 200-hr Yoga Teacher Training</a></strong></p>
<p>The training is divided in the following educational categories:<br />
100-hrs = Techniques, Training &#038; Practice<br />
30-hrs = Teaching Methodology<br />
30-hrs = Yoga Philosophy, Lifestyle &#038; Ethics<br />
25-hrs = Anatomy &#038; Physiology<br />
15-hrs = Practicum<br />
Totals = 200-hrs<br />
That cover the following topics:</p>
<p>The 8 Limbs of Yoga<br />
Sanskrit<br />
Chanting and Mantras<br />
Meditation<br />
Pranayama<br />
Anatomy, Physiology and Kinesiology<br />
Injury Management and Sequencing Around Injuries<br />
Human Energy and Chakra System<br />
Asana Labs for 109 Poses<br />
Ayurveda<br />
Contact Yoga<br />
Prenatal Yoga<br />
Restorative Yoga<br />
Yin Yoga<br />
Hot Yoga (Optional)<br />
Business Management</p>