<% provide(:title, 'Schedule') %>

<div class="manage">
	<% if can? :destroy, @yoga_class %>
		<span class="manage"><%= link_to "Add a Class", new_yoga_class_path %></span>
	<% end %>
</div>

<table class="table table-striped">
	<%= render @yoga_class %>
</table>