<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @yoga_class %>
        <%= @yoga_class.name %>
      </h1>
    </section>
  </aside>
</div>