<li>
  <%= gravatar_for user, size: 200 %>
  <%= link_to user.name, user %>
  <% if can? :destroy, @user %>
  	| <%= link_to "", edit_user_path(user), :class => "glyphicon glyphicon-edit" %>
    | <%= link_to "", user, method: :delete,
                                  data: { confirm: "You sure?" }, :class => "glyphicon glyphicon-trash" %>
  <% end %>
</li>
