<footer class="footer">
  <small>
    <a href="http://pranayogadunmore.com/">Prana Yoga</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://rebelmouse.com/pranayogadunmore">Social</a></li>
    </ul>
  </nav>
</footer>